# Python / Django
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.sqlite3
db.sqlite3
*.log

# Env
.venv/
.env
.env.*

# VSCode
.vscode/

# Arquivos temporários
.DS_Store
Thumbs.db

# Uploads/exports do app (ajustaremos depois se necessário)
media/
exports/